@import "vars";

body {
  font-family: sans-serif;
  box-sizing: border-box;
}
.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}



.header-top {
  display: flex;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 50px;
  border-bottom: solid 1px #eeeeee;
}


.phone {
  display: flex;
    &-logo {
      width: 25px;
      height: 25px;
      transform: scale(1.2);

       svg {
         width: 15px;
         height: 15px;
       }
    }

}
.header-logo {
  margin: 0 auto;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
  
}
.cart {
  display: flex;
    &-logo {
      width: 25px;
      height: 25px;
      margin-right: 15px;
      cursor: pointer;
      transition: transform .1s linear;

        svg:hover {
          transform: scale(1.05);
        }
    }
    &-info {
      color: #999999;
      margin-right: 5px;
    }
    &-total-price {
      font-weight: bold;
    }
    &-bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 15px;
      width: 10px;
      margin-left: 10px;
      cursor: pointer;
        svg {
          height: 100%;
          width: 100%;
          &:hover {
            transform: scale(1.2);
          }
        }
     
    }

}
.header-nav {
  padding-top: 50px;
  margin: 0auto;
    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      margin: 0;
      padding: 0;

        li {
          display: flex;
          margin-left: 45px;

            a {
              text-decoration: none;
              color: #333333;
              text-transform: uppercase;
              font-weight: bold;
              margin-right: 10px;
              transition: transform .1s linear;

                &:hover {
                  transform: scale(1.05);;
                  color: black;
                }

            }

            .nav-bottom {
              width: 10px;
              height: 15px;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;                         
          
            }
            svg {
              width: 10px;
              height: 15px;
              cursor: pointer;   

                &:hover{
                  transform: scale(1.2);
                }
            }
        }
    }
}
.slider {
  height: 680px;
  background-color: #eeeeee;
  margin-top: 50px;
  margin-bottom: 100px;
}

/* FEATURE PRODUCTS finish*/

.feature-products {
  height: 840px;
  padding-bottom: 50px;
  border-bottom: solid 1px #eeeeee;

   
   &-title {
     font-size: 36px;
     text-align: center;
     text-transform: uppercase;
     font-weight: bold;
     padding-bottom: 50px;
   }

    &-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
      grid-auto-rows: 350px;
      grid-template-areas: 
      "man woman"
      "jewellery woman"
      ;
      

    }  
}

.feature-products-item {
  background-color: #eee;
  
}

/* FEATURE PRODUCTS finish*/

/* POPULAR PRODUCTS start */
.popular-products {
  padding-top: 100px;
  padding-bottom: 150px;

   &-title {
     text-transform: uppercase;
     font-size: 36px;
     font-weight: bold;
     text-align: center;
     margin-bottom: 50px;
   }
    &-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 50px;
      grid-row-gap: 30px;
    }

}
.popular-products-item {
  width: 255px;
  height: 400px;

    &:hover products-item-btn{
      display: block;
    }


    &-img {
      width: 255px;
      height: 320px;

        img {
          width: 100%;
          height: 100%;
        }
    }
    &-info {
      padding: 20px;
    }
    &-title {
      color: #808080;
      margin-bottom: 16px;
    }
    &-control {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      width: 90%;
    }
    &-price {
      color: #333333;
      font-weight: bold;
    }
    &-like {
      width: 20px;
      height: 16px; 
    }
    &-btn {
      display: block;
      outline: none;
      border: none;
      border-radius: 5px;
      text-transform: uppercase;
      margin: 10px auto;
      padding: 5px 0;
      width: 90%;
      cursor: pointer;
      transition:  .1s linear;

       &:hover {
         transform: scale(1.1);
         font-weight: bold;
       }

        
    }
}



.all-product {
  display: block;
  margin: 0 auto;
  padding: 25px;
  outline: none;
  color: #ffffff;
  background-color: #333;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.75);
  margin-top: 70px;
  margin-bottom: 150px;
  cursor: pointer;

}





/* POPULAR PRODUCTS finish */